{% extends "base.html" %}
<title>{% block title %}Sign up{% endblock %}</title>
{%block content%}
<form method="POST">
    <h3 align="center">Sign Up</h3>
    <div class="form-group">
        <label for="email"> Email Adresse</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
        <label for="firstname"> firstname</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
    </div>
    <div class="form-group">
        <label for="lastname"> lastname</label>
        <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
    </div>
    <div class="form-group">
        <label for="password1"> password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password">
    </div>
    <div class="form-group">
        <label for="password2"> password (confirm)</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter confirm password">
    </div>
    <br />
    <button type="submit" class="btn btn-primary">submit</button>
</form>
{%endblock%}